In [85]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1   Geologi      7     laki-laki   12C
1         2     Kimia     71     laki-laki   12D
2         3   Biologi     49     perempuan   12B
3         4    Fisika     72     laki-laki   12B
4         5     Kimia      1     laki-laki   12B

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [70]:
# code here

#indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
df_nilai_kelas = df[['nilai', 'kelas']]
print(df_nilai_kelas)

#indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai
df_pelajaran_nilai = df.loc[5:10, ['pelajaran', 'nilai']]
print('\n')
print(df_pelajaran_nilai)

    nilai kelas
0      54   12B
1      75   12C
2       4   12B
3      53   12C
4      81   12D
5      21   12B
6      78   12B
7      57   12A
8      84   12A
9      61   12C
10     15   12D
11     21   12C
12     33   12D
13     82   12D
14     55   12C
15     51   12C
16      7   12B
17     75   12A
18     25   12B
19     86   12B


     pelajaran  nilai
5   Matematika     21
6       Fisika     78
7   Matematika     57
8   Matematika     84
9      Geologi     61
10  Matematika     15

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [84]:
# code here

#Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
df_ekonomi = df.pelajaran == "Ekonomi"

df_fisika = df.pelajaran == "Fisika"

print(df[(df_ekonomi) | (df_fisika) ])


#Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia

df_lebih_50 = df.nilai > 50
df_kimia = df.pelajaran == 'Kimia'

print("\n\n")
print(df[(df_lebih_50) & (df_kimia) ])

#Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C
df_lebih_70 = df.nilai > 70
df_kelamin = df["jenis-kelamin"] == 'Perempuan'
df_kelas = df.kelas == '12C'

print("\n\n")
print(df[(df_lebih_70) & (df_kelamin) & (df_kelas)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
1          2   Ekonomi     75     laki-laki   12C
2          3    Fisika      4     perempuan   12B
6          7    Fisika     78     laki-laki   12B
12        13    Fisika     33     laki-laki   12D
14        15    Fisika     55     perempuan   12C
15        16   Ekonomi     51     laki-laki   12C
18        19   Ekonomi     25     perempuan   12B



   siswa_id pelajaran  nilai jenis-kelamin kelas
3         4     Kimia     53     laki-laki   12C
4         5     Kimia     81     laki-laki   12D



Empty DataFrame
Columns: [siswa_id, pelajaran, nilai, jenis-kelamin, kelas]
Index: []

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [83]:
# code  here

df_nilai = df.nilai
df_max = df.nilai.max()
df_min = df.nilai.min()

x_normalized = (df_nilai - df_min) / (df_max - df_min)

print(x_normalized)

0     0.609756
1     0.865854
2     0.000000
3     0.597561
4     0.939024
5     0.207317
6     0.902439
7     0.646341
8     0.975610
9     0.695122
10    0.134146
11    0.207317
12    0.353659
13    0.951220
14    0.621951
15    0.573171
16    0.036585
17    0.865854
18    0.256098
19    1.000000
Name: nilai, dtype: float64